# What is a Series?
A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [1]:
import pandas as pd

In [2]:
mydataset = {
    'cars': ["BMW", "Volvo", "Ford"],
    'passings': [3, 7, 2]
}

result= pd.DataFrame(mydataset)

print(result)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [3]:
a=[1,2,3]
myvar=pd.Series(a)
print(myvar)
print(myvar[0])

0    1
1    2
2    3
dtype: int64
1

## Create Labels
With the index argument, you can name your own labels.

In [4]:
a= [1,7,2]
myvar=pd.Series(a, index=["x", "y", "z"]) #a is data and index is label
print(myvar)
print(myvar['y'])
print(a)

x    1
y    7
z    2
dtype: int64
7
[1, 7, 2]

## Key/Value Objects as Series

In [5]:
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)
print(myvar)
print("Day 2:",myvar['day2'])

day1    420
day2    380
day3    390
dtype: int64
Day 2: 380

In [6]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

## Data Frames
Data sets in Pandas are usually multi-dimensional tables, called DataFrames.
Series is like a column, a DataFrame is the whole table.

In [20]:
data = {
    "calories": [420, 380, 390],
    "duration": [50, 40, 45]    
}
myvar = pd.DataFrame(data)
print(myvar)
print("\nFirst row:\n",myvar.loc[[0]])
print("\nFirst row:\n",myvar.loc[0])
print("\nFirst two rows:\n",myvar.loc[[0,1]])

   calories  duration
0       420        50
1       380        40
2       390        45

First row:
    calories  duration
0       420        50

First row:
 calories    420
duration     50
Name: 0, dtype: int64

First two rows:
    calories  duration
0       420        50
1       380        40

# Note: When using [], the result is a Pandas DataFrame.

## Named Indexes
With the index argument, you can name your own indexes.

In [21]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df) 
print("\nDay 2\n:",df.loc["day2"])

      calories  duration
day1       420        50
day2       380        40
day3       390        45

Day 2
: calories    380
duration     40
Name: day2, dtype: int64